body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF; }
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
ul{margin: 0;
    list-style: none;
    padding-left: 0;}
img{display: block;}
/* #region header */
.page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

}
.page-header{border-bottom:  1px solid #e7e9fc;}
.page-nav {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    align-items: center}
    

.header-logo{
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    align-items: center;
    display: flex;
    margin-right: 76px;
    padding: 24px 0;  }

.nav-list {
     display: flex;
     gap: 40px;
     list-style: none;}
.nav-list-item a {
    display: block;}
.nav-list-item {}
.studio{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.header-logo:hover :focus{color: #404bbf;}
.nav-link{

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    padding: 24px 0 }
    .nav-link:hover,
    .nav-link:focus{
        color: #404bbf; }
    .page-adress{ 
        font-style: normal;}
    .adress-list{ 
        display: flex;
        gap: 40px;
         list-style: none;}
    .address-link{ 
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;}
    .address-link:hover,
    .address-link:focus{
        color: #404bbf;}

/* #endregion header */
/* #region hero */
.section-hero { background-color: #2e2f42;
    max-width: 100%;
    padding: 188px 0;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("/images/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;}
.title-hero{
    
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 188px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    max-width: 496px;}
.button-hero{ 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    min-height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    height: 56px;
    border: none;}
    .button-hero:hover{background-color: #404bbf;}
    .button-hero:focus{background-color: #404bbf;}
/* #endregion hero */
/* #region description */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-description{
    padding-top: 120px;
    padding-bottom: 120px;
}
.description-list{
    display: flex;
    gap: 24px;
    list-style: none;
}
.description-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4)
}
.icon-div{
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    padding: 24px 100px;
}


.description-title{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.description-text{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}

/* #endregion description */
/* #region team */
.team{background-color: #f4f4fd;
max-width: 100%;
min-height: 100%;
padding: 120px 0}
.team-list{
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    justify-content: center;
    flex-basis: calc((100% - 3 * 24px) / 4);
}
.our-team{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;}
.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
   
}
.team-name{
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;}
.team-vocation{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
    }
    .name-job{
        padding: 32px 0;}
        .social-media-list{display: flex;
        gap: 36px;}
  
/* #endregion team */
/* #region portfolio */

.section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.portfolio {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style: none;
    margin: 0;
}
.portfolio-list-item{flex-basis: calc((100% - 48px) / 3);}
.app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-img {}
.portfolio-title{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion portfolio */
/* #region footer */

.footer{
    padding: 100px 0;
    max-width: 100%;
    background-color: #2e2f42;
}



.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;}
    .footer-studio{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;}

.footer-text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;}
        /* #endregion footer */